/*  COLORS */

$white: #ffffff;
$light-gray: #E2E1DF;
$gray: #696C6D;
$dark-gray: #3C3A48;
$dark: #333;

$primary-color: #003355;
$secondary-red: #E64448;
$secondary-blue: #30AAB3;
$light-yellow: #EAB244;
$light-blue: #89C5C7;

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$merri: 'Merriweather', serif;
$mont: 'Montserrat', sans-serif;

$font-weights: (
    'regular': 400,
    'bold': 700
);

$font-sizes: (
    'body': 16px,
    'title': 32px
);
