@import './functions';
@import './mixins';
@import './resets';
@import './variables';

body {
    background-color: $light-blue;
    font-family: $mont;
    font-weight: weight(regular);
    font-size: fontSize(body);
    letter-spacing: 1px;

    div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Header
.header {
    padding: 40px;
    background-color: $secondary-blue;
}

// Main
.card-title {
    font-family: $mont;
    font-weight: weight(regular);
    font-size: 2rem;
    text-align: center;

    strong {
        font-weight: weight(bold);
    }
    
}

.card-body {
    width: 80%;
    margin: 0 auto;

    table {
        width: 100%;
        
        th {
            height: 50px;
            background-color: $primary-color;
            color: $light-yellow;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid $light-blue;
        
            &:first-child {
                padding-left: 20px;
            }
        }
        
        tr {
            background-color: $secondary-blue;
            color: $primary-color;
            font-weight: weight(bold);
            border-bottom: 1px solid darken($secondary-blue, 15%);

            &:nth-child(even) {
                background-color: darken($secondary-blue, 5%);
            }

            td {
                padding: 10px;

                &:first-child {
                    padding-left: 20px;
                }
            }

        }
    }


}

// Footer
.footer {
    font-weight: weight(bold);
    background-color: $dark-gray;
    @include fixed(bottom);

    p {
        padding: 13px 10px 10px 10px;
        color: $light-yellow;

        a {
            color: $light-gray;

            &:hover {
                color: $light-blue;
            }
        }
    }
}
