@import "./functions";
@import "./mixins";
@import "./resets";
@import "./variables";

body {
  background-color: $light-blue;
  font-family: $mont;
  font-weight: weight(regular);
  font-size: fontSize(body);
  letter-spacing: 1px;
}
